.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 713px;
  width: 1440px;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 273px;
  width: 900px;
}
.about-title {
  font-family: $azeretMono;
  font-weight: bold;
  font-size: 17px;
  line-height: 21.6px;
  color: #222222;
}
.about-text {
  font-size: 32px;
  line-height: 116%;
  text-align: center;
  color: #222222;
}
