.booking {
  width: 1440px;
  height: (672px+240px);
  display: flex;
  justify-content: center;
  align-items: center;
  &__imgContainer {
    width: 1400px;
    height: 672px;
    margin: 120px 20px;
    display: flex;
  }
}
.food {
  display: flex;
  flex-direction: column;
  &__img {
    width: 644px;
    height: 300px;
    margin-left: 36px;
    &__1 {
      margin-top: 32px;
    }
    &__2 {
      margin-top: 40px;
    }
  }
  &__img-hall {
    width: 644px;
    height: 640px;
    margin-left: 40px;
    margin-top: 32px;
    margin-right: 36px;
  }
}
