@import './variables.scss';
@import './main-page/main-page.scss';
@import './about/about.scss';
@import './menu/menu.scss';
@import './info/info.scss';
@import './booking/booking.scss';
@import './award/award.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $basicFont;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
a {
  color: #18272f;
  position: relative;
  text-decoration: none;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: $lightPink;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
