@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=Inter&display=swap');
//FONTS
$basicFont: 'Inter', sans-serif;
$azeretMono: 'Azeret Mono', monospace;

//COLORS
$lightPink: #d27487;
$menuText: #6f6f64;
