.menu {
  display: flex;
  flex-direction: column;
  height: 1227px;
  width: 1440px;
  background: #e9e9e3;
}
.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  &__filter {
    height: 100%;
    width: 100%;
  }

  margin: 120px 56px;
}
.menu-title {
  color: $menuText;
  font-family: $azeretMono;
  font-size: 18px;
  line-height: 103%;
  margin-bottom: 17px;
}
.menu-info {
  display: block;
  width: 558px;
  height: 135px;
  font-size: 32px;
  line-height: 116%;
  color: $menuText;
  margin-bottom: 74px;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  width: 531px;
}
.button-menu {
  width: 100%;
  height: 58px;
  margin-bottom: 12px;
  background-color: transparent;
  color: $menuText;
  border-radius: 2px solid $menuText;
  font-size: 15px;
  line-height: 132%;
  cursor: pointer;
  &:hover {
    background-color: $menuText;
    color: white;
  }
}
